<%= simple_form_for(@todo_list) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Task Name</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody class='tasks'>
      <%= f.simple_fields_for :tasks do |builder| %>
        <!-- cocoon looks for _fields -->
        <%= render 'task_fields', f: builder %>
      <% end %>
    </tbody>
  </table>

  <div class="form-actions">
    <%= f.button :submit %>

    <!-- add a task in the node class='tasks' and append it -->
    <!-- link_to_add_association is provided by cocoon -->
    <%= link_to_add_association 'Add Task', f, :tasks, class: 'btn btn-primary',
    data: {
      association_insertion_node: '.tasks',
      association_insertion_method: :append
    } %>
  </div>
<% end %>
